<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Metatags -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#411564">

  <!-- Links -->
  <%- css('css/style.css') %>

  <!-- Title -->
  <% if (page.title) { %>
  <title><%- page.title %> - <%- config.title %></title>
  <% } else{ %>
  <title><%- config.title %></title>
  <% } %>
</head>

<body class="grid grid--background-light">
  <nav class="nav nav--fixed nav--secondary-color-purple-dark">
    <a href="/" class="util--no-style">
      <img src="/img/logo/unimed.svg" alt="logo Unimed" class="nav__logo" />
    </a>
    <p class="text--big nav--display-none-mobile"><strong>Guia de Estilos Unimed</strong></p>
    <a href="/css/style.css" download
      class="btn btn--float-right btn--secondary-color-orange nav--display-none-mobile">Baixar agora</a>
    <a id="menuButton" class="nav--display-only-mobile util--no-style" onclick="toggleClass('sideMenu', 'grid--display-none-mobile')"><img class="img--clickable-icon" src="/img/icons/ico_menu-popup.svg"/></a>
  </nav>
  <%- body %>
</body>
<%- js('js/controllers.js') %>
</html>