<aside class="grid__menu grid--margin-top grid--display-none-mobile">
  <div class="menu menu--fixed">
    <p>Versão: <strong>0.0</strong></p>

    <details>
      <summary>Introdução</summary>
      <ul class="menu__link-list">
        <% site.categories.findOne({name: "Introdução"}).posts.sort('title', 1).each(function(post) {%>
        <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
        <% })%>
      </ul>
    </details>

    <details>
      <summary>Layout</summary>
      <ul class="menu__link-list">
        <% site.categories.findOne({name: "Layout"}).posts.sort('title', 1).each(function(post) {%>
        <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
        <% })%>
      </ul>
    </details>

    <details>
      <summary>Componentes</summary>
      <ul class="menu__link-list">
        <% site.categories.findOne({name: "Componentes"}).posts.sort('title', 1).each(function(post) {%>
        <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
        <% })%>
      </ul>
    </details>

  </div>
</aside>

<main class='grid__container grid--no-margin'>
  <article>
    <h1><%- page.title %></h1>
    <%- page.content %>
  </article>
</main>