<aside class="grid__menu grid--display-none-mobile">
  <div class="menu menu--fixed">
    <h2>Guia de estilos</h2>
    <p>Versão: <strong>0.0</strong></p>

    <% site.categories.each(function(category){ %>
    <details>
      <summary><%- category.name %></summary>
      <ul class="menu__link-list">
        <% site.categories.findOne({name: category.name}).posts.sort('title', 1).each(function(post) {%>
        <li><a href="<%- url_for(post.path) %>"><%= post.title %></a></li>
        <% })%>
      </ul>

    </details>
    <% }) %>

  </div>
</aside>
<main class='grid__container'>
  <h1><%- page.title %></h1>
  <%- page.content %>
</main>